@import "tailwindcss";

body {
  font-family: 'IBM Plex Mono', monospace;
}

.carousel {
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  display: inline-flex;
  overflow-x: scroll;
}

.carousel-item {
  height: 500px;
  box-sizing: content-box;
  scroll-snap-align: start;
  flex: none;
  /* display: flex; */
}